In [49]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pandas import get_dummies
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import mean_absolute_error, mean_squared_error, explained_variance_score
from sklearn.preprocessing import MinMaxScaler

In [50]:
training_set = pd.read_csv('train.csv')
training_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [51]:
test_set = pd.read_csv('test.csv')
test_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [52]:
training_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [53]:
training_set.columns[-1]

'SalePrice'

In [54]:
test_set[training_set.columns[-1]] = 0

In [55]:
test_set

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,0
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,0
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,0
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,0
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,0
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,0
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml,0
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,0
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,0

In [56]:
dataset = pd.concat([training_set, test_set])

In [57]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2919 entries, 0 to 1458
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             2919 non-null   int64
 1   MSSubClass     2919 non-null   int64
 2   MSZoning       2915 non-null   object
 3   LotFrontage    2433 non-null   float64
 4   LotArea        2919 non-null   int64
 5   Street         2919 non-null   object
 6   Alley          198 non-null    object
 7   LotShape       2919 non-null   object
 8   LandContour    2919 non-null   object
 9   Utilities      2917 non-null   object
 10  LotConfig      2919 non-null   object
 11  LandSlope      2919 non-null   object
 12  Neighborhood   2919 non-null   object
 13  Condition1     2919 non-null   object
 14  Condition2     2919 non-null   object
 15  BldgType       2919 non-null   object
 16  HouseStyle     2919 non-null   object
 17  OverallQual    2919 non-null   int64
 18  OverallCond    2919 non-null   int64
 19  YearBuilt      2919 non-null   int64
 20  YearRemodAdd   2919 non-null   int64
 21  RoofStyle      2919 non-null   object
 22  RoofMatl       2919 non-null   object
 23  Exterior1st    2918 non-null   object
 24  Exterior2nd    2918 non-null   object
 25  MasVnrType     1153 non-null   object
 26  MasVnrArea     2896 non-null   float64
 27  ExterQual      2919 non-null   object
 28  ExterCond      2919 non-null   object
 29  Foundation     2919 non-null   object
 30  BsmtQual       2838 non-null   object
 31  BsmtCond       2837 non-null   object
 32  BsmtExposure   2837 non-null   object
 33  BsmtFinType1   2840 non-null   object
 34  BsmtFinSF1     2918 non-null   float64
 35  BsmtFinType2   2839 non-null   object
 36  BsmtFinSF2     2918 non-null   float64
 37  BsmtUnfSF      2918 non-null   float64
 38  TotalBsmtSF    2918 non-null   float64
 39  Heating        2919 non-null   object
 40  HeatingQC      2919 non-null   object
 41  CentralAir     2919 non-null   object
 42  Electrical     2918 non-null   object
 43  1stFlrSF       2919 non-null   int64
 44  2ndFlrSF       2919 non-null   int64
 45  LowQualFinSF   2919 non-null   int64
 46  GrLivArea      2919 non-null   int64
 47  BsmtFullBath   2917 non-null   float64
 48  BsmtHalfBath   2917 non-null   float64
 49  FullBath       2919 non-null   int64
 50  HalfBath       2919 non-null   int64
 51  BedroomAbvGr   2919 non-null   int64
 52  KitchenAbvGr   2919 non-null   int64
 53  KitchenQual    2918 non-null   object
 54  TotRmsAbvGrd   2919 non-null   int64
 55  Functional     2917 non-null   object
 56  Fireplaces     2919 non-null   int64
 57  FireplaceQu    1499 non-null   object
 58  GarageType     2762 non-null   object
 59  GarageYrBlt    2760 non-null   float64
 60  GarageFinish   2760 non-null   object
 61  GarageCars     2918 non-null   float64
 62  GarageArea     2918 non-null   float64
 63  GarageQual     2760 non-null   object
 64  GarageCond     2760 non-null   object
 65  PavedDrive     2919 non-null   object
 66  WoodDeckSF     2919 non-null   int64
 67  OpenPorchSF    2919 non-null   int64
 68  EnclosedPorch  2919 non-null   int64
 69  3SsnPorch      2919 non-null   int64
 70  ScreenPorch    2919 non-null   int64
 71  PoolArea       2919 non-null   int64
 72  PoolQC         10 non-null     object
 73  Fence          571 non-null    object
 74  MiscFeature    105 non-null    object
 75  MiscVal        2919 non-null   int64
 76  MoSold         2919 non-null   int64
 77  YrSold         2919 non-null   int64
 78  SaleType       2918 non-null   object
 79  SaleCondition  2919 non-null   object
 80  SalePrice      2919 non-null   int64
dtypes: float64(11), int64(27), object(43)
memory usage: 1.8+ MB

In [58]:
dataset.isnull().sum().sort_values(ascending=False)

PoolQC          2909
MiscFeature     2814
Alley           2721
Fence           2348
MasVnrType      1766
                ...
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
SalePrice          0
Length: 81, dtype: int64

In [59]:
dataset.drop(['PoolQC','YrSold','SaleType','SaleCondition','YrSold','MoSold'],axis =1, inplace=True)

In [60]:
#df['MiscFeature'].value_counts()
def special_return_bin (Feature):
    if pd.isnull(Feature):
        return 0
    else:
        return 1
    
    
dataset['MiscFeature'] = dataset['MiscFeature'].apply(lambda x: special_return_bin(x))

In [61]:
dataset['Alley'] = dataset['Alley'].apply(lambda x: special_return_bin(x))

In [62]:
def special_return_value (Feature, Name):
    if pd.isnull(Feature):
        return ('No_'+ Name)
    else:
        return Feature
    
dataset['Fence'] = dataset['Fence'].apply(lambda X: special_return_value(X, 'Fence'))

dummies = pd.get_dummies(dataset['Fence'], dtype=float, drop_first=True)
dataset = pd.concat([dataset.drop('Fence', axis=1), dummies], axis=1)

In [63]:
dataset['MasVnrType'] = dataset['MasVnrType'].apply(lambda X: special_return_value(X,'Mas'))

dummies = pd.get_dummies(dataset['MasVnrType'], dtype=float, drop_first=True)
dataset = pd.concat([dataset.drop('MasVnrType', axis=1), dummies], axis=1)

In [64]:
dataset['FireplaceQu'] = dataset['FireplaceQu'].apply(lambda X: special_return_value(X,'Fire'))

dummies = pd.get_dummies(dataset['FireplaceQu'], dtype=float, drop_first=True)
dataset = pd.concat([dataset.drop('FireplaceQu', axis=1), dummies], axis=1)

In [65]:
def impute_lotFrontage (LotFrontage, stFlrSF):
    if pd.isnull(LotFrontage):
        return (stFlrSF*0.075934)
    else:
        return LotFrontage
    
dataset['LotFrontage'] = dataset.apply(lambda x: impute_lotFrontage(x['LotFrontage'], x['1stFlrSF']), axis = 1)

In [66]:
dataset['GarageCond'] = dataset['GarageCond'].apply(lambda X: special_return_value(X, 'Garage'))

dummies = pd.get_dummies(dataset['GarageCond'], dtype=float, drop_first=True)
dataset = pd.concat([dataset.drop('GarageCond', axis=1), dummies], axis=1)

In [68]:
dummies = pd.get_dummies(dataset['GarageType'], dtype=float, drop_first=True)
dataset = pd.concat([dataset.drop('GarageType', axis=1), dummies], axis=1)

In [ ]:
missing = dataset.isnull().sum().sort_values(ascending=False).head(24) # the list of all the missing values
missing_percentage = (missing/len(dataset))*100
missing_percentage #How are we missing almost, all the values in the datasetLotFrontage

<bound method Series.keys of GarageFinish    5.447071
GarageQual      5.447071
GarageYrBlt     5.447071
BsmtExposure    2.809181
BsmtCond        2.809181
BsmtQual        2.774923
BsmtFinType2    2.740665
BsmtFinType1    2.706406
MasVnrArea      0.787941
MSZoning        0.137033
BsmtFullBath    0.068517
BsmtHalfBath    0.068517
Functional      0.068517
Utilities       0.068517
BsmtUnfSF       0.034258
BsmtFinSF2      0.034258
KitchenQual     0.034258
GarageCars      0.034258
GarageArea      0.034258
BsmtFinSF1      0.034258
Exterior1st     0.034258
Exterior2nd     0.034258
TotalBsmtSF     0.034258
Electrical      0.034258
dtype: float64>

In [79]:
missing.keys()

Index(['GarageFinish', 'GarageQual', 'GarageYrBlt', 'BsmtExposure', 'BsmtCond',
       'BsmtQual', 'BsmtFinType2', 'BsmtFinType1', 'MasVnrArea', 'MSZoning',
       'BsmtFullBath', 'BsmtHalfBath', 'Functional', 'Utilities', 'BsmtUnfSF',
       'BsmtFinSF2', 'KitchenQual', 'GarageCars', 'GarageArea', 'BsmtFinSF1',
       'Exterior1st', 'Exterior2nd', 'TotalBsmtSF', 'Electrical'],
      dtype='object')

In [80]:
dataset.drop(missing.keys(), axis = 1, inplace= True)

In [85]:
len(dataset.dtypes[(dataset.dtypes != 'int64') & (dataset.dtypes != 'float64')])

19

In [87]:
non_int = dataset.dtypes[(dataset.dtypes != 'int64') & (dataset.dtypes != 'float64')].keys().array
non_int = list(non_int)
dataset[non_int].head()
dummies = pd.get_dummies(dataset[non_int], dtype=float, drop_first=True)
dataset = pd.concat([dataset.drop(non_int, axis=1), dummies], axis=1)

In [89]:
dataset.dtypes[(dataset.dtypes != 'int64') & (dataset.dtypes != 'float64')]

Series([], dtype: object)

In [90]:
train = dataset[dataset['SalePrice']!= 0]
test = dataset[dataset['SalePrice'] == 0]

In [91]:
train.head()

,Id,MSSubClass,LotFrontage,LotArea,Alley,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,...,Heating_Grav,Heating_OthW,Heating_Wall,HeatingQC_Fa,HeatingQC_Gd,HeatingQC_Po,HeatingQC_TA,CentralAir_Y,PavedDrive_P,PavedDrive_Y
0,1,60,65.0,8450,0,7,5,2003,2003,856,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,2,20,80.0,9600,0,6,8,1976,1976,1262,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,3,60,68.0,11250,0,7,5,2001,2002,920,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,4,70,60.0,9550,0,7,5,1915,1970,961,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,5,60,84.0,14260,0,8,5,2000,2000,1145,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [ ]:
test.head()

,Id,MSSubClass,LotFrontage,LotArea,Alley,OverallQual,OverallCond,YearBuilt,YearRemodAdd,1stFlrSF,...,Heating_Grav,Heating_OthW,Heating_Wall,HeatingQC_Fa,HeatingQC_Gd,HeatingQC_Po,HeatingQC_TA,CentralAir_Y,PavedDrive_P,PavedDrive_Y
0,1461,20,80.0,11622,0,5,6,1961,1961,896,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1462,20,81.0,14267,0,6,6,1958,1958,1329,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
2,1463,60,74.0,13830,0,5,5,1997,1998,928,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
3,1464,60,78.0,9978,0,6,6,1998,1998,926,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,1465,120,43.0,5005,0,8,5,1992,1992,1280,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [93]:
X = train.drop('SalePrice', axis = 1).values
y = train['SalePrice'].values

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=32)

In [95]:
scaler = MinMaxScaler()

In [96]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [97]:
early_stop = EarlyStopping(monitor='val_mse', mode='min', patience=5)

In [98]:
model = Sequential()

model.add(Dense(226, activation='relu'))
model.add(Dropout(0.3))

model.add(Dense(113, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(56, activation='relu'))
model.add(Dropout(0.1))

model.add(Dense(28, activation='relu'))

model.add(Dense(14, activation='relu'))

model.add(Dense(1))

model.compile(optimizer='adam', loss='mse', metrics=['mse'])

In [99]:
model.fit(x=X_train, y=y_train,batch_size=128, epochs= 600, validation_data=(X_test, y_test), callbacks=[early_stop])

Epoch 1/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 4s 61ms/step - loss: 38503673856.0000 - mse: 38503673856.0000 - val_loss: 41559875584.0000 - val_mse: 41559875584.0000
Epoch 2/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step - loss: 40299810816.0000 - mse: 40299810816.0000 - val_loss: 41555607552.0000 - val_mse: 41555607552.0000
Epoch 3/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 38398115840.0000 - mse: 38398115840.0000 - val_loss: 41531363328.0000 - val_mse: 41531363328.0000
Epoch 4/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step - loss: 38320832512.0000 - mse: 38320832512.0000 - val_loss: 41420693504.0000 - val_mse: 41420693504.0000
Epoch 5/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 1s 15ms/step - loss: 40464064512.0000 - mse: 40464064512.0000 - val_loss: 41013743616.0000 - val_mse: 41013743616.0000
Epoch 6/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 38716411904.0000 - mse: 38716411904.0000 - val_loss: 39758577664.0000 - val_mse: 39758577664.0000
Epoch 7/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step - loss: 37525078016.0000 - mse: 37525078016.0000 - val_loss: 36449681408.0000 - val_mse: 36449681408.0000
Epoch 8/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 31350906880.0000 - mse: 31350906880.0000 - val_loss: 29148952576.0000 - val_mse: 29148952576.0000
Epoch 9/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 23867199488.0000 - mse: 23867199488.0000 - val_loss: 16830178304.0000 - val_mse: 16830178304.0000
Epoch 10/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 12210728960.0000 - mse: 12210728960.0000 - val_loss: 6607047168.0000 - val_mse: 6607047168.0000
Epoch 11/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 5956831232.0000 - mse: 5956831232.0000 - val_loss: 6652871680.0000 - val_mse: 6652871680.0000
Epoch 12/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 6265690624.0000 - mse: 6265690624.0000 - val_loss: 5663902720.0000 - val_mse: 5663902720.0000
Epoch 13/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 4980077568.0000 - mse: 4980077568.0000 - val_loss: 5484787712.0000 - val_mse: 5484787712.0000
Epoch 14/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 4737332224.0000 - mse: 4737332224.0000 - val_loss: 5046554624.0000 - val_mse: 5046554624.0000
Epoch 15/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - loss: 4421329408.0000 - mse: 4421329408.0000 - val_loss: 4783273472.0000 - val_mse: 4783273472.0000
Epoch 16/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 4164148992.0000 - mse: 4164148992.0000 - val_loss: 4540139008.0000 - val_mse: 4540139008.0000
Epoch 17/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 3990975488.0000 - mse: 3990975488.0000 - val_loss: 4313838080.0000 - val_mse: 4313838080.0000
Epoch 18/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 4235194880.0000 - mse: 4235194880.0000 - val_loss: 4114987008.0000 - val_mse: 4114987008.0000
Epoch 19/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 3920556032.0000 - mse: 3920556032.0000 - val_loss: 3897498624.0000 - val_mse: 3897498112.0000
Epoch 20/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 3888111872.0000 - mse: 3888111872.0000 - val_loss: 3709728256.0000 - val_mse: 3709728256.0000
Epoch 21/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 3375915776.0000 - mse: 3375915776.0000 - val_loss: 3540436480.0000 - val_mse: 3540436480.0000
Epoch 22/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 3364187904.0000 - mse: 3364187904.0000 - val_loss: 3368955136.0000 - val_mse: 3368955136.0000
Epoch 23/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 3275211008.0000 - mse: 3275211008.0000 - val_loss: 3231300096.0000 - val_mse: 3231300096.0000
Epoch 24/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 3044382720.0000 - mse: 3044382720.0000 - val_loss: 3077230080.0000 - val_mse: 3077230080.0000
Epoch 25/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 2934355712.0000 - mse: 2934355712.0000 - val_loss: 2951915264.0000 - val_mse: 2951915264.0000
Epoch 26/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - loss: 2490095616.0000 - mse: 2490095616.0000 - val_loss: 2839472128.0000 - val_mse: 2839472128.0000
Epoch 27/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 29ms/step - loss: 2731568896.0000 - mse: 2731568896.0000 - val_loss: 2730162944.0000 - val_mse: 2730162944.0000
Epoch 28/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 1s 32ms/step - loss: 2581901312.0000 - mse: 2581901312.0000 - val_loss: 2634808320.0000 - val_mse: 2634808320.0000
Epoch 29/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 2490416384.0000 - mse: 2490416384.0000 - val_loss: 2549402368.0000 - val_mse: 2549402368.0000
Epoch 30/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 2654564352.0000 - mse: 2654564352.0000 - val_loss: 2472501248.0000 - val_mse: 2472501248.0000
Epoch 31/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step - loss: 2255664128.0000 - mse: 2255664128.0000 - val_loss: 2408165888.0000 - val_mse: 2408165888.0000
Epoch 32/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 2334149632.0000 - mse: 2334149632.0000 - val_loss: 2345647360.0000 - val_mse: 2345647360.0000
Epoch 33/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 2373412096.0000 - mse: 2373412096.0000 - val_loss: 2294911744.0000 - val_mse: 2294911744.0000
Epoch 34/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 2372612352.0000 - mse: 2372612352.0000 - val_loss: 2236632832.0000 - val_mse: 2236632832.0000
Epoch 35/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 2424729856.0000 - mse: 2424729856.0000 - val_loss: 2194706944.0000 - val_mse: 2194706944.0000
Epoch 36/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 2574596608.0000 - mse: 2574596608.0000 - val_loss: 2157975296.0000 - val_mse: 2157975296.0000
Epoch 37/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 2264515840.0000 - mse: 2264515840.0000 - val_loss: 2120418688.0000 - val_mse: 2120418688.0000
Epoch 38/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 2785802240.0000 - mse: 2785802240.0000 - val_loss: 2085794304.0000 - val_mse: 2085794304.0000
Epoch 39/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 2368793088.0000 - mse: 2368793088.0000 - val_loss: 2061872256.0000 - val_mse: 2061872256.0000
Epoch 40/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 1868956544.0000 - mse: 1868956544.0000 - val_loss: 2039370368.0000 - val_mse: 2039370368.0000
Epoch 41/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 2031664000.0000 - mse: 2031664000.0000 - val_loss: 2011771648.0000 - val_mse: 2011771648.0000
Epoch 42/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 2165704960.0000 - mse: 2165704960.0000 - val_loss: 1985964800.0000 - val_mse: 1985964800.0000
Epoch 43/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 2389376512.0000 - mse: 2389376512.0000 - val_loss: 1963222656.0000 - val_mse: 1963222656.0000
Epoch 44/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 2168938752.0000 - mse: 2168938752.0000 - val_loss: 1946272896.0000 - val_mse: 1946272896.0000
Epoch 45/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 2059500928.0000 - mse: 2059500928.0000 - val_loss: 1929714304.0000 - val_mse: 1929714304.0000
Epoch 46/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 1961503616.0000 - mse: 1961503616.0000 - val_loss: 1911282688.0000 - val_mse: 1911282688.0000
Epoch 47/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 1653791360.0000 - mse: 1653791360.0000 - val_loss: 1914387840.0000 - val_mse: 1914387840.0000
Epoch 48/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1841657984.0000 - mse: 1841657984.0000 - val_loss: 1884066816.0000 - val_mse: 1884066816.0000
Epoch 49/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 2131260288.0000 - mse: 2131260288.0000 - val_loss: 1873351296.0000 - val_mse: 1873351296.0000
Epoch 50/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1654634496.0000 - mse: 1654634496.0000 - val_loss: 1867467648.0000 - val_mse: 1867467648.0000
Epoch 51/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step - loss: 1712571136.0000 - mse: 1712571136.0000 - val_loss: 1849703296.0000 - val_mse: 1849703296.0000
Epoch 52/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1871644672.0000 - mse: 1871644672.0000 - val_loss: 1827410944.0000 - val_mse: 1827410944.0000
Epoch 53/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 1959867648.0000 - mse: 1959867648.0000 - val_loss: 1816012160.0000 - val_mse: 1816012160.0000
Epoch 54/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1933059584.0000 - mse: 1933059584.0000 - val_loss: 1813627008.0000 - val_mse: 1813627008.0000
Epoch 55/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 1679454848.0000 - mse: 1679454848.0000 - val_loss: 1804948352.0000 - val_mse: 1804948352.0000
Epoch 56/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 1952560896.0000 - mse: 1952560896.0000 - val_loss: 1795350912.0000 - val_mse: 1795350912.0000
Epoch 57/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1690562560.0000 - mse: 1690562560.0000 - val_loss: 1781068032.0000 - val_mse: 1781068032.0000
Epoch 58/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1499028480.0000 - mse: 1499028480.0000 - val_loss: 1784481792.0000 - val_mse: 1784481792.0000
Epoch 59/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1597828096.0000 - mse: 1597828096.0000 - val_loss: 1781793024.0000 - val_mse: 1781793024.0000
Epoch 60/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1826321792.0000 - mse: 1826321792.0000 - val_loss: 1761987072.0000 - val_mse: 1761987072.0000
Epoch 61/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 1800984448.0000 - mse: 1800984448.0000 - val_loss: 1762384512.0000 - val_mse: 1762384512.0000
Epoch 62/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1589594880.0000 - mse: 1589594880.0000 - val_loss: 1757571968.0000 - val_mse: 1757571968.0000
Epoch 63/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 1780831616.0000 - mse: 1780831616.0000 - val_loss: 1751586176.0000 - val_mse: 1751586176.0000
Epoch 64/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1822757632.0000 - mse: 1822757632.0000 - val_loss: 1745661952.0000 - val_mse: 1745661952.0000
Epoch 65/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1636673792.0000 - mse: 1636673792.0000 - val_loss: 1782334336.0000 - val_mse: 1782334336.0000
Epoch 66/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - loss: 1475437056.0000 - mse: 1475437056.0000 - val_loss: 1730637952.0000 - val_mse: 1730637952.0000
Epoch 67/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1670961280.0000 - mse: 1670961280.0000 - val_loss: 1740397056.0000 - val_mse: 1740397056.0000
Epoch 68/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 1515674368.0000 - mse: 1515674368.0000 - val_loss: 1717097088.0000 - val_mse: 1717097088.0000
Epoch 69/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step - loss: 1754333312.0000 - mse: 1754333312.0000 - val_loss: 1737660416.0000 - val_mse: 1737660416.0000
Epoch 70/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 14ms/step - loss: 1501641216.0000 - mse: 1501641216.0000 - val_loss: 1709736960.0000 - val_mse: 1709736960.0000
Epoch 71/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 1532692736.0000 - mse: 1532692736.0000 - val_loss: 1708259968.0000 - val_mse: 1708259968.0000
Epoch 72/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1528255232.0000 - mse: 1528255232.0000 - val_loss: 1697065216.0000 - val_mse: 1697065216.0000
Epoch 73/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1754020736.0000 - mse: 1754020736.0000 - val_loss: 1700578176.0000 - val_mse: 1700578176.0000
Epoch 74/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1694565248.0000 - mse: 1694565248.0000 - val_loss: 1690051200.0000 - val_mse: 1690051200.0000
Epoch 75/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - loss: 1477938048.0000 - mse: 1477938048.0000 - val_loss: 1695111552.0000 - val_mse: 1695111552.0000
Epoch 76/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1619491456.0000 - mse: 1619491456.0000 - val_loss: 1688390656.0000 - val_mse: 1688390656.0000
Epoch 77/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1308307200.0000 - mse: 1308307200.0000 - val_loss: 1684085632.0000 - val_mse: 1684085632.0000
Epoch 78/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1426458368.0000 - mse: 1426458368.0000 - val_loss: 1686607104.0000 - val_mse: 1686607104.0000
Epoch 79/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 1724698112.0000 - mse: 1724698112.0000 - val_loss: 1675589760.0000 - val_mse: 1675589760.0000
Epoch 80/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 1551226112.0000 - mse: 1551226112.0000 - val_loss: 1676169600.0000 - val_mse: 1676169600.0000
Epoch 81/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1427105152.0000 - mse: 1427105152.0000 - val_loss: 1669428480.0000 - val_mse: 1669428480.0000
Epoch 82/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1543743744.0000 - mse: 1543743744.0000 - val_loss: 1662803200.0000 - val_mse: 1662803200.0000
Epoch 83/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1583690240.0000 - mse: 1583690240.0000 - val_loss: 1697381760.0000 - val_mse: 1697381760.0000
Epoch 84/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 13ms/step - loss: 1377939072.0000 - mse: 1377939072.0000 - val_loss: 1665983360.0000 - val_mse: 1665983360.0000
Epoch 85/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - loss: 1448625024.0000 - mse: 1448625024.0000 - val_loss: 1666908928.0000 - val_mse: 1666908928.0000
Epoch 86/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 15ms/step - loss: 1482396288.0000 - mse: 1482396288.0000 - val_loss: 1700613248.0000 - val_mse: 1700613248.0000
Epoch 87/600
11/11 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step - loss: 1271448960.0000 - mse: 1271448960.0000 - val_loss: 1666053760.0000 - val_mse: 1666053760.0000

In [100]:
test = test.drop('SalePrice', axis = 1).values
test = scaler.transform(test)

In [103]:
predictions = model.predict(test)

46/46 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step

In [104]:
df = pd.DataFrame(predictions)

In [105]:
df.head()

               0
0  108046.687500
1  161310.828125
2  169407.187500
3  192857.359375
4  215326.859375

In [106]:
id = test_set['Id']

In [107]:
id.head()

0    1461
1    1462
2    1463
3    1464
4    1465
Name: Id, dtype: int64

In [109]:
submission = pd.concat([id, pd.Series(predictions.flatten(), name='SalePrice')], axis=1)
submission.columns = ['Id', 'SalePrice']

In [110]:
submission.head()

     Id      SalePrice
0  1461  108046.687500
1  1462  161310.828125
2  1463  169407.187500
3  1464  192857.359375
4  1465  215326.859375

In [113]:
submission.to_csv('Submission.csv',index=None)